<% include ../partials/header %>


<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">This is a test</h1>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
            <a class="btn btn-outline-dark btn-lg" 
            href="/timer" 
            role="button">New Session</a>
        </p>
    </div>
</div>

<div class="container">
    <div class="row text-center stats">
        <% const totalTime = sessions.reduce((total, session) => { %>
            <% return total + parseInt(session.time); %>
        <% }, 0); %>
        <div class="col-md-4 stat">
            <h4>Total Meditation Time</h4>
            <hr>
            <h1><%= totalTime %></h1>               
            <p>minutes</p>
        </div>        
        <div class="col-md-4 stat">
            <h4>Total Sessions</h4>
            <hr>
            <h1><%= sessions.length %></h1>
            <p>sessions</p>
        </div> 
        <div class="col-md-4 stat">
            <h4>Average Session Length</h4>
            <hr>
            <h1><%= Math.floor(totalTime / sessions.length) %></h1>
            <p>minutes</p>   
        </div>         
    </div>
    <div class="row">
        <% sessions.forEach(function(session){ %>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= session.name %> - <%= session.time %> minutes
                        </h5>                        
                        <h6 class="card-subtitle mb-2 text-muted">
                            <%= session.date %>
                        </h6>
                        <hr>
                        <p class="card-text">
                            <%= session.note.slice(1,100) %>
                            <a href="/sessions/<%= session._id %>">...more</a>
                        </p>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>  
</div>    

<% include ../partials/footer %>